﻿@{
    ViewData["Title"] = "Home Page";
}
@model MVCForm.Models.Employee



    <h2>Registration Form</h2>

    <style>
        table, th, td{
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        table tr:nth-child(odd){
             background-color: #ffe6e6;
         }
         table tr:nth-child(even){
              background-color: #ccffcc;
          }
        label{

            border-color: blue;
            border-style: solid;
            padding:10px;
            width: 75%;
        }
    </style>
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        <table style="font-family:Arial; font-size:medium; color:darkblue">
            <tr>
                <td><b>First Name</b></td>
                <td >@Html.TextBoxFor(e => e.fName)</td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>@Html.TextBoxFor(e => e.lName)</td>
            </tr>
            <tr>
                <td><b>Middle Name</b></td>
                <td>@Html.TextBoxFor(e => e.mName)</td>
            </tr>
            <tr>
                <td><b>Age</b></td>
                <td>@Html.TextBoxFor(e => e.age)</td>
            </tr>
            <tr>
                <td><b>Sex</b></td>
                <td>Male:   @Html.RadioButton("Sex","Male")  
                    Female: @Html.RadioButton("Sex","Female")  </td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>@Html.TextBoxFor(e => e.address)</td>
            </tr>
        </table>
        <br /><br />
        <input type="submit" value="Register"/>
    }
    <h4 style="color:blue">
        <div>
            <center>
                @* Hi @ViewBag.pretext @ViewBag.fName @ViewBag.mName @ViewBag.lName, (@ViewBag.Age) from @ViewBag.Address *@
                <label>Hi @ViewBag.pretext @ViewBag.fName @ViewBag.mName @ViewBag.lName, (@ViewBag.Age) from @ViewBag.Address</label><br>
                
            <center>
        </div>
    <br />
    </h4>

  

